/*Обшие стили*/
@-webkit-keyframes fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
 
body {
  -webkit-animation: fade-in 500ms linear; /* Safari 4+ */
  -moz-animation: fade-in 500ms linear; /* Fx 5+ */
  -o-animation: fade-in 500ms linear; /* Opera 12+ */
  animation: fade-in 500ms linear; /* IE 10+, Fx 29+ */
}    
::-webkit-scrollbar-button { 
background-image:url(''); 
background-repeat:no-repeat; 
width:6px; 
height:0px 
} 

::-webkit-scrollbar-track { 
background-color:#32312e; 
box-shadow:0px 0px 3px #000 inset; 
} 

::-webkit-scrollbar-thumb { 
-webkit-border-radius: 5px; 
border-radius: 5px; 
background-color:#ccc; 
box-shadow:0px 1px 1px #fff inset; 
background-image:url('123.png'); 
background-position:center; 
background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width:7px; 
height:0px 
} 

::-webkit-scrollbar{ 
width: 11px; 
}
body.menu-active{
	overflow: hidden;
}
body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	position: relative;
}
h1,h2,h3,h4,h5,h6,ul,li{
	padding: 0px;
	margin: 0px;
}
h1{
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 2px;
}
h3{
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
}
p{
	font-size: 16px;
	

}
a:hover{
	text-decoration: none;
}
iframe{
	width: 100%!important;
}
.heading span{
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 2px;
}
.heading{
	padding: 28px 15px;
	text-align: center;
	text-transform: uppercase;
}
.heading-dark{
	background: #18171b;
	color: white;
}
.heading-light{
	color: #000;
	background: #ffdb4d;
}
input.btn.btn-primary{
	transition: 0.5s;
}
input.btn.btn-primary:hover{
	background: #0086BB;
	transition: 0.5s;
}
.btn.btn-primary{
	background: #00a8ec;
	display: inline-block;
	padding: 12px 50px;
	font-size: 14px;
	color: white;
	cursor: pointer;
	border:none;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}
.btn.btn-primary:before{
	content: '';
    background-color: #fff;
    width: 20px;
    height: 200%;
    position: absolute;
    left: -150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    top: 0;
}
.btn.btn-primary:hover:before{
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 100%;
}
.fileform { 
    margin-bottom: 10px;
    margin-top: -10px;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}
 
.fileform .selectbutton { 
    text-align: center;
    cursor: pointer;
    text-decoration: underline;

}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
    z-index:20;
    cursor: pointer;
}
.fileform #fileformlabel { 
	background-color: #FFFFFF;
	float: left;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	padding: 2px;
	text-align: left;
	vertical-align: middle;
	width:160px;
}
/*feedback*/
.feedback>span{
	font-size: 18px;
	text-align: center;
	font-weight:600;
	display: block;
	margin-bottom: 20px;
	color: #000;
}
.feedback{
    background: linear-gradient(to bottom left, #f1e267 0%, #f1e267 50%);
	width: 300px;
	padding: 20px 25px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.feedback .form-group{
	margin-bottom: 20px;
}
.feedback input,.feedback textarea{
	width: 100%;
	background: #f6f6f6;
	border:none;
	height: 35px;
	padding-left: 10px;
	font-size: 12px;
	color: #000;
	border-radius: 3px;
}
.feedback textarea{
	height: 85px;
	padding:10px;
}
.feedback input::placeholder,.feedback textarea::placeholder{
	color: #000;
}
.feedback .btns>a{
	
}
.feedback .btns input{
	height: auto;
}
.feedback-info-txt{
	text-align: center;
	color: white;
	font-size: 14px;
	margin-top: 20px;
}
.modal-dialog{
	margin-top: 120px;
}
/*Стили шапки*/
#header{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(right, #200823 0%, #04080C 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(right, #200823 0%, #04080C 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(right, #200823 0%, #04080C 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #200823), color-stop(100, #04080C));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(right, #200823 0%, #04080C 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to left, #200823 0%, #04080C 100%);
	padding: 15px 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99999999999;
}
#header .logo{
	float: left;
}
#header .brand{
	overflow: hidden;
    position: relative;
    border-radius: 50%;
}
#header .brand:before{
	content: '';
    background-color: #fff;
    width: 20px;
    height: 200%;
    position: absolute;
    left: -150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    top: 0;
}
#header .brand:hover:before {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 100%;
}
#header .navbar{
	text-align: right;
	float: right;
}
#header .navbar ul li{
	display: inline-block;
}
#header .navbar ul li a{
	font-size: 16px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 10px;
	line-height: 74px;
	transition: 0.5s;
	text-decoration: none;
}
#header .navbar ul li a.active{
	color: #ffcb17;
}
#header .navbar ul li a:hover{
	color: #f63939;
	text-decoration: none;
}
.toggle-menu{
	display: none;
	margin-top: 30px;
}
.toggle-menu .hamburger{
	cursor: pointer;
}
.toggle-menu .hamburger span,.toggle-menu .hamburger span:before,.toggle-menu .hamburger span:after{
	height: 4px;
	width: 24px;
	background: white;
	display: block;
	border-radius: 5px;
}
.toggle-menu .hamburger span{
	float: left;
	transition: 0.5s
}
.toggle-menu .hamburger span:before{
	content: '';
	margin-top: 7px;
	position: absolute;
}
.toggle-menu .hamburger span:after{
	content: '';
	margin-top: -7px;
	position: absolute;
}
.toggle-menu .hamburger span.active-burger{
	transform: rotate(-45deg);
	transition: 0.5s
}
.toggle-menu .hamburger span.active-burger:before{
	transform: rotate(90deg);
	margin-top:0px;
	transition: 0.5s
}
.toggle-menu .hamburger span.active-burger:after{
	display: none;
}

/*slider*/
.home-slider{
	margin-top: 100px;
}
.home-slider{
	position: relative;
}
.home-slider .jumbotron{
	margin-bottom: 0px;
	padding: 80px 0 60px;
	
	background-position: top center;
	background-size: cover;
	margin-bottom: 0px;
}
.home-slider .jumbotron.jumb1{
	background: url(../images/slider/1.jpg);
}
.home-slider .jumbotron.jumb2{
	background: url(../images/slider/2.jpg);
}
.home-slider .jumbotron.jumb3{
	background: url(../images/slider/3.jpg);
}
.home-slider .jumbotron.jumb4{
	background: url(../images/slider/4.jpg);
}
.home-slider .jumbotron.jumb5{
	background: url(../images/slider/5.jpg);
}

.home-slider .jumbotron h1{
	font-size: 69px;
    color: #ffeb45;
    line-height: 95px;
    text-shadow: -5px 5px 0px #00e6e6, -11px 10px 0px #01b0cc, -15px 15px 0px #006fbd;
}
.home-slider .jumbotron p{
	color: white;
	padding: 40px 0;
}
.item.jumbotron span{
	font-size: 58px;
	color: #ffeb45;
	font-weight: 900;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}
.item.jumbotron .container{
	position: relative;
}
.home-slider .jumbotron .feedback{
	margin:0 auto;
}
.home-slider .jumbotron .feedback-info-txt p{
	font-size: 14px;
}
.home-slider .col-sm-7{
	position: static;
}
.home-slider .slick-prev img,.home-slider .slick-next img{
	width: 100%;
}
.home-slider .slick-prev,.home-slider .slick-next{
	top: 42%;
	z-index: 9999;
}
.home-slider .slick-prev{
	left: 100px;
}
.home-slider .feedback-form{
	position: absolute;
	top: 80px;
	right: 15%;
}

/*****************Контент*****************/
/*ИЗГОТОВИМ ДЛЯ ВАС ЛЮБОЙ ЗАКАЗ*/
section.order .order-tab{
	background: #1c1b1f;
}
section.order .order-tab ul li{
	display: inline-block;
	text-align: center;
	width: 16%;
	color: white;
	font-size: 16px;
	border-top: 7px solid;
}
section.order .order-tab ul li.active{
	background: #18171B
}
section.order .order-tab ul li span{
	border-top: 5px solid transparent;
	display: block;
	padding: 20px 10px;
	transition: 0.3s;
	cursor: pointer;
}
section.order .order-tab ul{
	font-size: 0px;
}
section.order .order-tab ul li.tab1{
	border-color:#ffeb45;
}
s,section.order .order-tab ul li.tab1.active span{
	border-top: 5px solid #ffeb45;
}
section.order .order-tab ul li.tab2,section.order .order-tab ul li.tab2.active span{
	border-color: #ff4545;
}
section.order .order-tab ul li.tab3,section.order .order-tab ul li.tab3.active span{
	border-color: #4599ff;
}
section.order .order-tab ul li.tab4,section.order .order-tab ul li.tab4.active span{
	border-color: #45ff57;
}
section.order .order-tab ul li.tab5,section.order .order-tab ul li.tab5.active span{
	border-color: #ff45bb;
}
.tab_drawer_heading {
  display: none;
}
section.order .order-tab-content{
	background-image: -ms-linear-gradient(top left, #ffffff 0%, #ffffff 80%);
	background-image: -moz-linear-gradient(top left, #ffffff 0%, #ffffff 80%);
	background-image: -o-linear-gradient(top left, #ffffff 0%, #ffffff 80%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ffffff), color-stop(80, #ffffff));
	background-image: -webkit-linear-gradient(top left, #ffffff 0%, #ffffff 80%);
	background-image: linear-gradient(to bottom right, #ffffff 0%, #ffffff 80%);
	padding: 40px 0 60px;
}
section.order .order-tab-content .item{
	padding: 0 40px;
}
section.order .order-tab-content .item-head{
	margin-bottom: 30px;
}
section.order .order-tab-content h3{
	text-align: center;
}
section.order .order-tab-content table{
	width: 100%;
}
section.order .item-main{
	margin-bottom: 10px;
}
section.order .item-footer{
	text-align: center;
}
section.order .item-footer a:first-child{
	
	text-decoration: underline;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	margin-right: 10px;
	font-size: 16px; 
	font-weight: bold;
}
section.order .order-tab-content table tr td{
	width: 33.33%;
	text-align: center;
	border-bottom: 2px solid black;
	padding:5px 0;
}
section.order .order-tab-content table tr:last-child td{
	border-bottom: none;
}
section.order .order-tab-content .product-list{
	margin-bottom: 30px;
}
section.order .order-tab-content .product-list:last-child{
	margin-bottom: 0px;
}
section.order .individual .feedback{
	margin:0 auto;
}
/*КАК УСТРОЕН ВИНИЛОВЫЙ МАГНИТ?*/
section.howIs img{
	display: inline-block!important;
}
section.howIs{
	text-align: center;
	padding-bottom: 50px;
}
/*ПРЕИМУЩЕСТВА ВИНИЛОВЫХ МАГНИТОВ*/
section.advantages .section-main{
	background-image: -ms-linear-gradient(bottom left, #731980 0%, #764ade 90%);
	background-image: -moz-linear-gradient(bottom left, #731980 0%, #764ade 90%);
	background-image: -o-linear-gradient(bottom left, #731980 0%, #764ade 90%);
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #731980), color-stop(90, #764ade));
	background-image: -webkit-linear-gradient(bottom left, #731980 0%, #764ade 90%);
    background-image: linear-gradient(to top right, #731980 0%, #764ade 90%);
	padding: 45px 0;
}
section.advantages .topImg{
	height: 100px;
	transition: 0.5s;
}
section.advantages .topImg img{
	transition: 0.5s;
}
section.advantages .topImg img:hover{
	-webkit-transform: scale(1.1);
}
section.advantages .bigImg img{
	margin-top: 20px;
}
section.advantages .item-row{
	margin-bottom: 20px;
}
section.advantages .section-main .list-item {
	text-align: center;
}
section.advantages .section-main .list-item p{
	color: white;
}

/*ТРЕБОВАНИЯ К МАКЕТУ*/
section.herbage .section-main{
	padding: 35px 0 50px;
	background-image: -ms-linear-gradient(top left, #50d8d0 0%, #544ff1 60%);
	background-image: -moz-linear-gradient(top left, #50d8d0 0%, #544ff1 60%);
	background-image: -o-linear-gradient(top left, #50d8d0 0%, #544ff1 60%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #50d8d0), color-stop(60, #544ff1));
	background-image: -webkit-linear-gradient(top left, #50d8d0 0%, #544ff1 60%);
	background-image: linear-gradient(to bottom right, #50d8d0 0%, #544ff1 60%);
}
section.herbage .section-main .info-block{
	
	padding: 10px 10px 20px;
	color: white;
}
section.herbage .section-main .info-block p{
	font-size: 18px;
}
section.herbage .section-main .info-block ul li{
	list-style-type: none;
	font-size: 15px;
}
section.herbage .section-main .info-block ul li:before{
	content: '*';
}

/*СПОСОБЫ ОПЛАТЫ*/
section.payment .payment_method_item{
	text-align: center;
	margin-bottom: 30px;
}
section.payment .payment_method_item img{
	display: inline-block;
}
section.payment .section-main{
	padding: 25px 0 50px 0px;
}
section.payment .info-block{
	background-color: #fff;
    padding: 15px;
    margin: 2px 3px 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 3px 4px -3px rgba(0,0,0,.3);
    box-sizing: border-box;
}
section.payment .info-block ul li{
	list-style: none;
}
section.payment .info-block ul li:before{
	content: '-';
}
section.payment .info-block span{
	font-weight: 900;
}

/*СПОСОБЫ ДОСТАВКИ*/
section.delivery .section-main{
	padding: 30px 0;
	background-image: -ms-linear-gradient(bottom right, #2657f9 0%, #5750d8 80%);
	background-image: -moz-linear-gradient(bottom right, #2657f9 0%, #5750d8 80%);
	background-image: -o-linear-gradient(bottom right, #2657f9 0%, #5750d8 80%);
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #2657f9), color-stop(80, #5750d8));
	background-image: -webkit-linear-gradient(bottom right, #2657f9 0%, #5750d8 80%);
	background-image: linear-gradient(to bottom left, #2657f9 0%, #5750d8 50%);;
	}
section.delivery .section-main .info-block{
	margin-bottom: 30px;
}
section.delivery .section-main p{
	font-size: 18px;
	color: white;
	text-align: center;
}
section.delivery .section-main .info-block p span{
	font-weight: 900;
}
section.delivery .section-main .info-delivery p{
	text-align: left;
}
section.delivery .section-main .info-delivery .item{
	margin-bottom: 30px;
}
section.delivery .section-main .info-delivery .item:last-child{
	margin-bottom: 0px;
}
section.delivery .section-main .map{
	margin-top: 15px;
}

/*ПОЛУЧИТЕ РАСЧЕТ ПРЯМО СЕЙЧАС!*/
section.crush .section-main{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(right, #200823 0%, #04080C 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(right, #200823 0%, #04080C 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(right, #200823 0%, #04080C 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #200823), color-stop(100, #04080C));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(right, #200823 0%, #04080C 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to left, #200823 0%, #04080C 100%);
	padding: 50px 0;
}
section.crush .feedback{
	margin:0 auto;
}
.goTop{
	    background: rgba(0,0,0,0.5);
    width: 70px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    margin-top: 100px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    border-radius: 10px;
}

.big-info{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.big-info .heading.heading-dark{
	background: #ff2626;
	cursor: pointer;
	padding: 5px 0;
	box-shadow: 0 0 40px rgba(0,0,0,0.7);
}
.big-info .heading.heading-dark span{
	font-size: 18px;
}
.big-info .feedback{
	width: 100%;
}
.modal-content{
	border:none;
	background: transparent;
	box-shadow: none;
}

/*media*/
@media (max-width: 1468px){
	.home-slider .slick-prev{
		left: 10px!important;
	}
	.slick-next{
		right: 20px!important;
	}
}
@media (max-width: 1200px){
	/*header*/
	#header .navbar ul li a{
		padding: 0 7px;
	}
	.home-slider .jumbotron h1{
		font-size: 80px;
	}
	.slick-next{
		right: 20px!important;
	}
	.home-slider .slick-prev{
		left: 0px;
	}
}
@media (max-width: 991px){
	#header .navbar ul li a{
		font-size: 14px;
		padding: 0 4px;
	}
	.home-slider .jumbotron .feedback{
		width: 85%
	}
	.home-slider .jumbotron h1{
		font-size: 60px;
	}
	.slick-next{
		right: -5px!important;
	}
	.slick-next img,.slick-prev img{
		width: 100%;
	}
	.slick-next{
    	right: 5px!important;
	}
	.home-slider .slick-prev {
    	left: 5px;
	}
	/*ИЗГОТОВИМ ДЛЯ ВАС ЛЮБОЙ ЗАКАЗ*/
	section.order .order-tab ul li{
		font-size: 14px;
	}
	section.order .order-tab-content .item{
		padding: 0px;
	}
	section.order .product-img{
		text-align: center;
	}
	section.order .product-img img{
		display: inline-block;
	}
	.home-slider .feedback-form{
		right: 5%;
	}
}
@media (max-width: 767px){
	h1{
		font-size: 22px;
	}
	#header .logo{
		float: left;
		text-align: left;
		padding: 0 15px;
		width: auto;
	}
	#header .navbar{
		float: right;
		text-align: right;
		padding: 0 15px;
		width: auto;
	}
	.navbar .toggle-menu{
		display: block;
	}
	.navbar nav{
		position: fixed;
		left: 0;
		top: 104px;
		display: block;
		width: 250px;
		background: white;
		bottom: 0;
		box-shadow: 5px 0 5px 0 rgba(0,0,0,0.1);
	    -moz-transform: translateX(-240px);
	    -ms-transform: translateX(-240px);
	    -o-transform: translateX(-240px);
	    display: none;
	    z-index: 99999
	}
	#header .navbar nav li{
		display: block;
		text-align: left;
	}
	#header .navbar nav li a{
		color: #15081A;
		line-height: 0px;
		padding: 25px 20px;
		display: block;
	}
	#header .navbar nav li a:hover{
		background: #f63939;
		color: white;
	}
	/*slider*/
	.home-slider {
		text-align: center;
	}
	.home-slider .jumb-slider h1{
		font-size: 50px;
		line-height: 50px;
	}
	.home-slider .jumbotron p{
		padding: 0px;
		font-size: 15px;
	}
	.home-slider .jumbotron span{
		font-size: 25px;
	}
	.home-slider .jumbotron .jumb-slider span{
		font-size: 35px;
	}
	.home-slider .jumbotron{
		padding: 40px 0 30px;
	}
	.home-slider .slick-prev, .home-slider .slick-next {
    	top: 12%;
	}
	.home-slider .jumbotron{
		height: 900px;
	}
	.home-slider .feedback-form{
		bottom: 50px!important;
		top: inherit;
		left: 15px;
		right: 15px;
		text-align: center;
	}
	.home-slider .feedback-form .feedback{
		margin:0 auto;
	}
	.home-slider .jumbotron p{
		padding: 0px;
	}
	/*ИЗГОТОВИМ ДЛЯ ВАС ЛЮБОЙ ЗАКАЗ*/
	section.order .order-tab ul li{
		width: 50%;
	}
	section.order .order-tab ul{
		text-align: center;
	}
	section.order .order-tab ul li span{
		padding: 20px 0px!important;
	}
	section.order .item-footer a:first-child{
		padding: 15px;
	}
	section.order .order-tab-content .product-list{
		margin-bottom: 0px;
	}
	section.order .order-tab-content .item{
		margin-bottom: 30px;
	}
	section.order .order-tab-content{
		padding-bottom: 30px;
	}
	
	/*ПРЕИМУЩЕСТВА ВИНИЛОВЫХ МАГНИТОВ*/
	section.advantages .bigImg{
		text-align: center;
		margin-bottom: 25px;
	}
	section.advantages .bigImg img{
		    display: inline-block;
    /* display: block; */
    max-width: 100%;
    height: auto;
	}

	/*ТРЕБОВАНИЯ К МАКЕТУ*/
	section.herbage .section-main .info-block{
		margin-bottom: 30px;
	}
	/**/
	section.payment .info-block{
		margin-bottom: 30px;
	}
	section.payment .payment_method{
		text-align: center;
	}
	section.payment .payment_method img{
		display: inline-block;
	}

	section.delivery .section-main{
		padding-top: 0px;
	}
	/*СПОСОБЫ ДОСТАВКИ*/
	section.delivery .section-main p{
		margin:0px;
	}
	/*ПОЛУЧИТЕ РАСЧЕТ ПРЯМО СЕЙЧАС!*/
	section.crush .bigImg{
		text-align: center;
		margin-bottom: 30px;
	}
	section.crush .bigImg img{
		display: inline-block;
	}
	section.crush .goTop{
		margin-top: 40px;
	}

	.goTop{
		right: 10px;
		bottom: 20px;
		width: 50px;
		padding: 15px 0;
		height: 50px;
	}
	.goTop img{
		width: 50%;
	}
}
@media (max-width: 468px){
	.home-slider .jumbotron h1{
		font-size: 25px;
		line-height: 35px;
	}
	.home-slider .jumbotron .slide-items span{
		font-size: 25px;
	}
	.home-slider .jumbotron .slide-items p{
		font-size: 14px;
	}
	.feedback{
		width: 100%;
	}
}